<%- include('../partials/header', {user:user}) %>

<!DOCTYPE html>
<html>
  <head>
    <title>Teams</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Teams</h1>
    <% teamsData.forEach(function(team, i, teamsData){ %>
        <a href="/teams/<%= team.code %>"><%= team.name %></a>
        <%= i == teamsData.length-1 ? '' : '' %>
    <% }) %>
  </body>
</html>
<style>
  body {
    display: grid;
    padding: 30px;
  background-image: url(../images/close-up-la-liga-flag-waving-wind-madrid-spa-july-men-top-professional-football-division-spanish-league-system-262037610.jpeg);
    
  }
</style>
<%- include('../partials/footer') %>
