<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title>Teams</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Team</h1>
    <p>Name: <%= teamData.name %></p>
    <p>Code: <%= teamData.code %></p>
    <p>Country: <%= teamData.country %></p>
    <h1>Add Players:</h1>
    <form action="/teams/<%= teamData.code %>/addPlayer" method="post">
        <input type="text" name="name" placeholder="name" />
        <input type="number" name="age" placeholder="age" />
        <input type="number" name="goals" placeholder="goals" />
        <input type="hidden" name="team" value="<%= teamData._id %>" />
        <button type="submit">Add</button>
    </form>

    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Goals</th>
        <th>Actions</th>
        
      </tr>

    <% teamData.players.forEach(function(player, i, teamData){ %>
          <tr>
            <td><%= player.name %></td>
          <td><%= player.age %></td>
          <td><%= player.goals %></td>
          <td>
            <a href="/player/<%= player._id %>">Edit</a>
            <!-- <a href="/player/<%= player._id %>" >Delete</a> -->
            <form action="/player/delete/<%= player._id %>" method="post">
              <button type="submit">Delete</button>
            </form>
          </td>
          </tr>
  <% }) %>
</table>
  </body>
</html>
<%- include('../partials/footer') %>
